---
const platform = "github";
const username = "arsadii";
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <Social platform="instagram" username="its.arsadi" />
  <Social platform="tiktok" username="@uicodes" />
  <Social platform="youtube" username="@rsad" />
</footer>
